<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Book Details</title>
    <link rel="stylesheet" href="../../../../../../resources/static/style.css">
</head>

<body>

<h1 th:text="${book.title}"></h1>

<p>
    <b>Author:</b>
    <span th:text="${book.author}"></span>
</p>

<p>
    <b>ISBN:</b>
    <span th:text="${book.isbn}"></span>
</p>

<p>
    <b>Published:</b>
    <span th:text="${book.publishedYear}"></span>
</p>

<h2>Copies</h2>

<table border="1">

    <tr>
        <th>ID</th>
        <th>Available</th>
    </tr>

    <tr th:each="copy : ${book.copies}">
        <td th:text="${copy.id}"></td>

        <td th:text="${copy.available ? 'Available' : 'Borrowed'}"></td>
    </tr>

</table>

<br>

<a href="/books">Back</a>

</body>

</html>